RewriteEngine On

# Route API requests
RewriteRule ^api/(.*)$ api/$1 [L]

# Route public assets
RewriteRule ^(assests|modules)/(.*)$ public/$1/$2 [L]

# Serve index.html for other requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.html [L]